#batchForm{
    background-color: #707070;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    /* width:80%; */

}
#Addbatchmain{
    margin-top: -840px;
    margin-left: 120px;
    width:85%;
}
