.EmployeeDashboard{
    border: 5px solid red;
    width:90%;
    margin-top: -780px;
}
.FormBorder{
    /* border: 5px solid red !important; */
    height: 400px;
    width:800px;
    justify-content: center;
    margin: 0px auto;
}
