#AddMentormain {
  width: 100%;
}
.AttendanceButton {
  border: none;
  background-color: white;
  margin-left: 20px;
  color: #086288;
  font-weight: bold;
}
.AttendanceButton:hover {
  background-color: #086288;
  transition: all 2s;
  color: white;
}
.ProfileImage {
  border-radius: 100%;
}


